<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todolist App</title>
  </head>
  <body>
    <h1>My todo list</h1>
    <form action={% url 'addtask' %} method="post">
      {% csrf_token %}
      <input type="text" name="task-name" placeholder="add a task">
      <input type="submit">
    </form>
    <ul>
      {% for task in tasks %}
      <form action={% url 'delete_task' task.id %} method="post">
      {% csrf_token %}
      <li>
        {{task}}
        <input type="submit" name="delete-a-task" value="X">
      </li>
      </form>
      {% empty %}
      <p>No Tasks.</p>
      {% endfor %}
    </ul>
  </body>
</html>
